@mixin notification {
    background-color: $light-bg;
    @include border-md;

    &.critical {
        box-shadow: inset 0 0 0.5em 0 $fg;
    }

    .close_button {
        border: none;
        @include border-full;
        background: none;
        color: $fg;

        &:hover {
            background-color: $fg;
            color: $light-bg;
        }
    }

    .content {
        color: $fg;

        .title {
            font-size: 1.1em;
        }

        .time {
            margin: 0.3em;
        }

        .description {
            color: $alt-fg;
            min-width: 350px;
            font-size: 0.9em;
        }

        .icon {
            @include border-md;

            &.img {
                margin: 0.6em;
                border: none;
            }
        }
    }

    .actions {
        margin-top: 0.6em;

        button {
            margin: 0.6em;
            border: none;
            @include border-md;
            background: $dark-bg;
            color: $fg;

            &:hover {
                background-color: $fg;
                color: $dark-bg;
            }
        }
    }
}

window.notifications .notification {
    @include notification();
}