.player {
    @include border-md;
    background-color: lighter($bg);
    padding: 0.8em;
    min-width: 350px;

    .cover {
        min-width: 100px;
        min-height: 100px;
        background-size: cover;
        background-position: center;
        @include border-md;
        margin-right: 1em;
        box-shadow: 2pt 2pt 1pt darker($bg);
    }

    .title {
        font-size: 1.2em;
    }

    .artist {
        font-size: 1.1em;
        color: $unfocused-text;
    }

    scale.position {
        padding: 0;
        margin-bottom: 0.3em;

        trough {
            min-height: 8px;
        }

        highlight {
            background-color: $fg;
            border: none;
        }

        slider {
            all: unset;
        }
    }

    button {
        min-height: 1em;
        min-width: 1em;
        padding: 0.3em;
        color: $fg;
        background: none;
        border: none;
        @include border-md;

        &:hover {
            background: $fg;
            color: darker($bg);
        }
    }
}